* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(slashio-photography-DmItCw__ZEM-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
}

#cover {
  height: 100%;
  width: 100%;
  background: rgba(55, 56, 56, 0.452);
  z-index: 100;
}

#ball {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background: url(jakub-dziubak-XtUd5SiX464-unsplash.jpg) no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  font-family: cursive Arial, Helvetica, sans;
  text-overflow: clip;
  text-align: center;
  transition: all .7s;
  position: fixed;
  z-index: 200;
}

#ball #cnt {
  height: 25rem;
  width: 25rem;
  letter-spacing: .2rem;
  background: rgba(255, 99, 71, 0.5) no-repeat center center;
  display: none;
  justify-content: center;
  align-items: center;
  color: brown;
  user-select: none;
}

#ball:hover {
  height: 60rem;
  width: 60rem;
  border-radius: 0;
}

#ball:hover #cnt {
  display: flex;
}
